---
import Layout from '../layouts/Layout.astro';
import { prisma } from '../db/index'
import PlaceCard from '../components/PlaceCard.astro';

const places = await prisma.place.findMany();
console.log("Places: ", places)

---

<Layout>
	<h1 class="text-3xl font-extrabold">Lugares</h1>
	<div class="grid grid-cols-3 gap-4">
		<PlaceCard />
	</div>
	
</Layout>
