---
import Layout from "../layouts/Layout.astro";
import PlaceCard from "../components/PlaceCard.astro";
import { actions } from "astro:actions";

const { data, error } = await Astro.callAction(actions.getPlaces, {});
---

<Layout>
  <h1 class="text-3xl font-extrabold">Lugares</h1>
  <div class="grid grid-cols-3 gap-4">
    {data?.places.map((place) => <PlaceCard place={place} />)}
  </div>
</Layout>
